.file_input__ {
    display: none;
}

.file_input_label__ {
background-color: $mainBackgroundColor;
height: 63px;
border: solid 1px $borderColor;
border-radius: $mainBorderRadius;
width: 100%;
padding: 20px 29px;
cursor: pointer;
transition: 0.5s;
display: flex;
align-items: center;
justify-content: space-between;

.file_input_placeholder {
    margin: 0;
    color: $paragraphprimaryColor;
    font-size: 18px;

    &.uploaded {
        color: $headingMainColor;
    }
}

.icon__ {
    padding: 0 !important;
}

&:hover {
    border-color: $primaryColor;
}

}