.submit-button__ {
  color: #fff;
  background: $primaryColor;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0 30px;
  height: 53px;
  width: max-content;
  border-radius: $mainBorderRadius;
  min-width: 180px;

  .icon__ {
    flex-shrink: 0;
    margin-inline-start: 5px;
    transition: 0.5s;
  }

  &:hover {
    background-color: rgba($primaryColor, 0.9);
  }

  &:focus {
    border: none;
    outline: none;
  }

  &.centered__ {
    margin: 0 auto;
    min-width: 236px;
  }

  &.full_width__ {
    width: 100%;
  }

  &.fixed_size__ {
    min-width: 140px;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.log_out_link__ {
    background-color: $mainRedColor;

    &:hover {
      color: #fff;
      background-color: rgba($mainRedColor, 0.7);
    }
  }

  &.log_out_cancellation__ {
    background-color: #fff;
    border: 1px solid $mainRedColor;
    color: $mainRedColor;

    &:hover {
      background-color: rgba($mainRedColor, 0.1);
    }
  }

  &.modal_bordered_button__ {
    background-color: #fff;
    border: 1px solid $primaryColor;
    color: $headingThirdColor;
    margin-bottom: 0;

    &:hover {
      background-color: rgba($primaryColor, 0.2);
    }

  }

  &.about_us_button__ {
    height: 63px;
    max-width: 170px;
    padding: 15px 11px;
    gap: 5px;
    position: relative;

    &::after {
      content: url(../images/shapes/button_background.svg);
      position: absolute;
      top: 10px;
      inset-inline-start: -10px;
    }
  }
  
  &.main_site_button__ {
    background-color: transparent;
    color: $paragraphprimaryColor;
    border: 1px solid $paragraphprimaryColor;
    height: 63px;
    width: 170px;
    padding: 0;
    gap: 5px;
    position: relative;

    &::after {
      content: url(../images/shapes/button_background.svg);
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      opacity: 0;
      transition: 0.5s;
    }
    
    &:hover {
      color: #fff;
      background-color: $primaryColor;

      .icon__ {
        filter: brightness(0) invert(1);
      }
      
      &::after {
        top: 10px;
        inset-inline-start: -10px;	
        opacity: 1;
      }
    }
  }

  &.message_send_button {
    font-size: 16px;
    height: 64px;
    border-radius: 5px;
    width: 119px;

    @include xs {
      padding: 0;
      font-size: 12px;
      min-width: 50px !important;
    }
  }
}