.textarea-om {
  height: 144px;
  resize: none;
  width: 100%;
  border: 1px solid $borderBreakColor;
  border-radius: $mainBorderRadius;
  padding: 20px 29px;

  &.max_height_textarea_ {
    height: 159px;
  }

  &:focus,
  &:hover {
    outline: 0;
    border-color: $primaryColor;
  }

  &::placeholder {
    color: #aaa;
    font-size: 18px;
  }
}
