.contact_page {
  padding: 100px 0 60px;
  
  @include sm {
    padding: 30px 0;
  }
}

.contacts_section {
  margin-bottom: 100px;

  @include sm {
    margin-bottom: 0;
  }
}

.contact_box__ {
  background-color: rgba($primaryColor,0.13);
  border-radius: $mainBorderRadius;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-bottom: 30px;

  .figure__ {
    &::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 41px;
      bottom: 30px;
      background-color: rgba($primaryColor,0.48);
      transform: rotate(51deg);
      border-radius: 5px;
    }
  }

  .title__ {
    color: $headingMainColor;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .content__ {
    font-size: 16px;
    color: $paragraphMainColor;
  }
}