.slider_section__ {
  .home_slider {
    position: relative;
  }

  .swiper-slide {
    position: relative;

    .figure__ {
      padding-bottom: 600px;
      position: relative;

      @include xxs {
        padding-bottom: 450px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#000, 0.7);
      }
    }
  }

  .slide_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include xs {
      top: calc(50% - 50px);
      min-width: 100%;
      padding: 0 20px;
    }

    .title__ {
      color: #fff;
      font-size: 55px;
      font-weight: 700;
      margin-bottom: 25px;
      max-height: 89px;
      overflow: hidden;


      @include md {
        font-size: 45px;
      }

      @include sm {
        font-size: 30px;
      }

      @include xxs {
        font-size: 20px;
      }
      
      @include dir {
        font-size: 45px;
        max-height: 110px;

        @include sm {
          font-size: 30px;
        }
  
        @include xxs {
          font-size: 20px;
        }
      }

      .color_change {
        color: $primaryColor;
      }
    }

    .parag__ {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      // max-width: 570px;
      max-height: 132px;
      overflow: hidden;

      @include sm {
        font-size: 18px;
        max-height: 142px;
      }

      @include xs {
        font-size: 16px;
        max-height: 132px;
      }
    }
  }

  .swiper_buttons_group__ {
    position: absolute;
    bottom: 112px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 100;

    .buttons_wrapper {
      display: flex;
      gap: 10px;
    }
  }
}

.about_us_section__ {
  .row_modify {
    @include sm {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }

  .site_main_title {
    margin-bottom: 35px;

    @include sm {
      text-align: center;
    }
  }

  .parag__ {
    font-size: 20px;
    font-weight: 500;
    color: $headingMainColor;
    margin-bottom: 35px;
    max-width: 478px;
    text-align: start;

    @include sm {
      text-align: center;
      margin: 0px auto 35px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .site_info_wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 35px;

    @include sm {
      justify-content: center;
    }

    .info_block__ {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      color: $headingFourthColor;

      @include xxs {
        font-size: 14px;
      }

      .number__ {
        font-size: 45px;
        font-weight: 700;
        color: $primaryColor;
        margin: 0;

        @include xxs {
          font-size: 30px;
        }
      }
    }
  }

  .about_us_photo {
    padding: 30px;
    position: relative;

    .figure__ {
      padding-bottom: 85.51%;
      // max-height: 502px;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      min-width: 100%;

      @include xs {
        max-height: 250px;
      }

      @include xxs {
        max-height: 300px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#000, 0.39);
      }
    }

    &::before {
      content: url(../images/shapes/about_us_photo_shape_up.png);
      position: absolute;
      top: 0;
      inset-inline-end: 0;

    }

    &::after {
      content: url(../images/shapes/about_us_photo_shape_down.png);
      position: absolute;
      bottom: -7px;
      inset-inline-start: 0;
    }

    @include dir {
      &::before {
        inset-inline-end: unset;
        inset-inline-start: 0;
      }
      
      &::after {
        inset-inline-start: unset;
        inset-inline-end: 0;
      }
    }
  }

  .submit-button__ {
    @include sm {
      margin: 0 auto;
    }
  }
}

.customers_opinions_section {
  .main_head_wrapper__ {
    margin-bottom: 70px;
  }

  .customers_opinions_row_modify {
    @include sm {
      gap: 65px;
    }
  }
}
