.rules_block__ {
  padding: 60px 34px;
  border-radius: $mainBorderRadius;
  box-shadow: 0 3px 6px $shadowColor;
  background-color: #fff;

  .parag_head {
    font-size: 20px;
    font-weight: 600;
    color: $headingMainColor;
    margin-bottom: 15px;
    line-height: 1.6;

    @include xs {
      font-size: 14px;
    }
  }

  .parag__ {
    font-size: 18px;
    color: $headingThirdColor;
    font-weight: 500;

    @include xs {
      font-size: 12px;
    }

    &:not(:last-of-type) {
      margin-bottom: 57px;
    }
  }

  &.terms_and_conditions_block {
    padding-inline-start: 65px;

    .parag_head {
      position: relative;

      &::before {
        content: url(../images/shapes/terms_title_head_icon.svg);
        position: absolute;
        inset-inline-start: -45px;
        top: 50%;
        transform: translateY(-50%);
        width: 29px;
        height: 29px;
      }
    }
  }
}
