@import "forms/input_block";
@import "forms/textarea_block";
@import "forms/submit_block";
@import "forms/select_block";
@import "forms/checkbox_input";
@import "forms/radio_input";
@import "forms/datepicker";
@import "forms/file_input";

.form_wrapper__ {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #f0f1f6;
  box-shadow: 0 2px 4px rgba(#000000, 0.2);

  @include sm {
    padding: 20px;
    border-radius: 20px;
  }
}

.form_image__ {
  padding-bottom: 73%;
  margin-bottom: 20px;

  img {
    object-fit: contain;
  }

  &.small_size_image__ {
    max-width: 259px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 44%;
    margin-top: 30px;
  }
}

.default_form__ {
  max-width: 510px;
}

.main_form__ {
  max-width: 970px;
}

.form_title__ {
  margin-bottom: 30px;

  @include sm {
    text-align: center;
  }

  .sub_title__ {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: $primaryColor;

    @include xs {
      font-size: 16px;
    }
  }

  .title__ {
    font-size: 28px;
    color: $headingprimaryColor;
    margin-bottom: 0;
    font-weight: bold;

    &.title_first__ {
      margin-bottom: 15px;
    }

    @include xs {
      font-size: 22px;
    }
  }

  .parg__ {
    font-size: 16px;
    color: $paragraphMainColor;
    margin-bottom: 0;

    &.not_full_width__ {
      max-width: 80%;
      margin: 0 auto;

      @include xs {
        max-width: 100%;
      }
    }
  }

  .link__ {
    font-size: 14px;
    color: $primaryColor;
    margin-top: 10px;
  }

  &.centered {
    text-align: center;
  }
}

.input_group__ {
  margin-bottom: 20px;
  text-align: start;

  &.flex_group__ {
    display: flex;
    align-items: center;

    &.group_gap__ {
      gap: 20px;
    }
  }

  &.none_margin__ {
    margin: 0;
  }
}

.final_buttons_wrapper__ {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_group_unit__ {
  display: flex;
  align-items: center;

  .input__ {
    border-radius: 0 $mainBorderRadius $mainBorderRadius 0;

    @include dir {
      border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    }
  }

  .unit__ {
    min-width: 67px;
    height: 56px;
    border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    border: 1px solid $borderBreakColor;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
  }
}

.label__ {
  color: $headingprimaryColor;
  font-size: 15px;
  margin-bottom: 15px;
  display: block;

  .optional__ {
    font-size: 13px;
    color: $paragraphprimaryColor;
    margin-inline-start: 5px;
  }

  &.centered {
    text-align: center;
  }
}

.password-group-om {
  position: relative;

  .input__ {
    padding-inline-end: 40px;
  }

  .show-password-button-om {
    position: absolute;
    top: 50%;
    inset-inline-end: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    width: 22px;
    padding: 0;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;

    .icon__ {
      fill: #aaa;
    }

    &:focus {
      outline: none;
    }

    &.show-om {
      .icon__ {
        fill: $primaryColor;
      }
    }
  }
}

.drag_file_upload {
  .drag_file_label {
    border: 1px solid $borderBreakColor;
    width: 100%;
    border-radius: $mainBorderRadius;
    margin-bottom: 20px;
    cursor: pointer;

    .head__ {
      display: flex;
      align-items: center;
      padding: 17px 15px;

      .icon__ {
        margin-inline-end: 12px;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #f2f3fc;
      }

      .head_info {
        .title {
          font-size: 14px;
          margin-bottom: 10px;
          color: $headingMainColor;
          font-weight: 600;
        }

        .upload_rules {
          font-size: 12px;
          color: $paragraphprimaryColor;
          margin: 0;
        }
      }
    }

    .uploaded_files {
      padding: 17px 15px;
      border-top: 1px solid $borderBreakColor;

      .strip {
        display: flex;
        align-items: center;

        .icon__ {
          margin-inline-end: 12px;
        }

        .file_name {
          margin: 0;
          font-size: 12px;
          color: $headingMainColor;

          .file_size {
            color: $paragraphprimaryColor;
            margin-inline-start: 5px;
          }
        }

        .delete_file_button {
          background-color: transparent;
          border: 0;
          margin-inline-start: auto;
          display: flex;
          align-items: center;
          color: #f54748;
          font-size: 12px;
          cursor: pointer;
          transition: 0.5s;

          .icon__ {
            margin-inline-start: 7px;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .drug_file_input {
    display: none;
  }
}

.form_section {
  .main_head_wrapper__ {
    .sub-title__ {
      max-width: 576px;
    }
  }
  
  .contact_us_row_modify__ {
    align-items: center;

    @include sm {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }

  .input__,
  .textarea-om {
    background-color: $mainBackgroundColor;
  }
  
  .select__ {
    .btn {
      background-color: $mainBackgroundColor;
    }
  }

  .final_buttons_wrapper__ {
    margin-top: 35px;
  }

  .figure__ {
    padding-bottom: 76.086%;
  }

  &.without_border {
    .input__,
    .textarea-om,
    .select__ {
      border: none;
    }
  }

  &.consultation_section {
    .figure__ {
      padding-bottom: 81.77%;
    }
  }

  &.profile_section {
    .figure__ {
      padding-bottom: 127.52%;
    }
  }
}