// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
  background-color: rgba(#fff, 0.40);
  border: none;
  border-radius: 5px;


  &.swiper-button-disabled {
    opacity: 1;
  }

  &::after {
    content: url("../images/shapes/Vector.svg");
    display: block;
    position: static;
    height: 64px;
    transform: rotateY(-180deg);
    filter: brightness(0) invert(1);
    
    @include dir {
      transform: unset;
    }
  }

  &.single_page_button {
    position: static;

    &::after {
      content: url("../images/shapes/Vector.svg");
      filter: brightness(0) invert(1);
    }

    &:hover {
      background-color: $primaryColor;
      border-color: $primaryColor;

      &::after {
        filter: unset;
      }
    }
  }
}

.swiper-button-next {
  &::after {
    transform: rotateY(0);
    
    @include dir {
      transform: rotateY(-180deg);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  margin: 0 2px;
  border-radius: 50%;
  background-color: rgba(#fff, 0.35);
  opacity: 1;
  width: 12px;
  height: 12px;


  &.swiper-pagination-bullet-active {
    background-color: $primaryColor;
  }
}

// ###################################################################