.consultation_box {
  display: flex;
  align-items: center;
  background-color: $mainBackgroundColor;
  position: relative;
  padding-inline-end: 50px;

  .content_wrapper {
    display: flex;
    align-items: center;
    padding: 30px 25px;

    >.figure__ {
      height: 150px;
      // flex-shrink: 0;
      width: 180px;
      object-fit: cover;
      border-radius: $mainBorderRadius;
      padding-bottom: 0 !important;
      overflow: hidden;

      @include xs {
        margin-bottom: 15px;
        min-width: 180px;
      }
  
      .img-om {
        width: 100%;
      }
    }
  }

  .consultation_description {
    width: 100%;
    margin-inline-start: 30px;

    .head__ {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    .name__ {
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 18px;
      font-weight: 500;
      color: $headingMainColor;
    }

    .rate {
      display: flex;
      align-items: center;
      gap: 4px;

      .rating_by_number {
        font-size: 20px;
        font-weight: 500;
        color: $headingThirdColor;
      }
    }

    .date__ {
      font-size: 18px;
      font-weight: 600;
      color: $headingMainColor;
    }

    .date_info__ {
      font-weight: 500;
      color: $primaryColor;

      .date_info__ {
        margin-inline-start: 6px;
      }
    }

    .parag__ {
      font-size: 15px;
      font-weight: 500;
      margin: 0;
    }
  }

	&:not(:last-of-type) {
		margin-bottom: 30px;
	}

  &:hover {
    .figure__ {
      .img-om {
        transform: scale(1.1);
      }
    }
  }

  .consultation_box_link {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    width: 50px;
    height: 100%;
  }
}

@include sm {
  .consultation_box {
    .name__,
    .date__ {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .parag__ {
      font-size: 12px;
    }
  }
}

@include xs {
  .consultation_box {
    flex-direction: column;
    padding-inline-end: unset;
    padding-bottom: 50px;


    .content_wrapper {
      flex-direction: column;
			padding: 15px 10px;
    }

    .consultation_description {
      margin: 0;
    }

    .consultation_box_link {
      top: unset;
      bottom: 0;
      height: 50px;
      width: 100%;

    }
  }
}

@include xxs {
  .consultation_box {
		.content_wrapper {
			>.figure__ {
				width: 90px;
			}
		}

    .consultation_description {
      // .head__ {
			// 	flex-direction: column;
			// 	gap: 15px;
      // }

      .name__,
      .date__ {
        font-size: 12px;
				gap: 5px;

				.rate {
					.rating_star_icon__ {
						font-size: 10px;
					}

					.rating_by_number {
						font-size: 12px;
					}
				}
      }

      .parag__ {
        font-size: 8px;
      }
    }
  }
}
