.main_head_wrapper__ {
  .site_main_title {
    font-size: 30px;
    font-weight: 700;
    color: $primaryColor;
    margin-bottom: 20px;
    width: fit-content;
    text-align: start;

    @include xxs {
      font-size: 25px;
    }
  }
  
  .sub-title__ {
    font-size: 20px;
    font-weight: 500;
    color: $headingMainColor;
    margin-bottom: 30px;
    text-align: start;
    
        @include sm {
          font-size: 18px;
        }
    
        @include xxs {
          font-size: 16px;
        }
  }

  &.center__ {
    text-align: center;
    
    .site_main_title {
      margin-inline-start: auto;
      margin-inline-end: auto;
    }
    
    .sub-title__ {
      text-align: center;
      margin-inline-start: auto;
      margin-inline-end: auto;
    }

  }
}