.conversation_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background: transparent;
  }

}

.message_wrapper__ {
  align-self: flex-end;

  .time__ {
    font-size: 15px;
    font-weight: 500;
    color: $headingThirdColor;
    margin: 0;
    margin-inline-start: auto;
    margin-inline-start: 174px;
    margin-bottom: 10px;
    width: fit-content;
    
    @include xxs {
      margin-inline-start: 74px;
    }
  }

  .message__ {
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 18px;
    color: #fff;
    background-color: $primaryColor;
    border-radius: 5px 20px 20px 20px;
    min-width: 403px;
    max-width: 587px;

    @include xxs {
      min-width: 215px;
      font-size: 12px;
    }
  }
  
  &.message_received {
    align-self: flex-start;
    
    .time__ {
      margin-inline-end: unset;
      margin-inline-start: 174px;

      @include xxs {
        margin-inline-start: 74px;
      }
    }
    
    .message__ {
      color: $paragraphThirdColor;
      border-color: $primaryColor;
      border-radius: 20px 5px 20px 20px;
      background-color: #fff;
    }
  }
  
}
